# Virtual Environment
myenv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Flask stuff:
instance/
.webassets-cache

# Environment variables
.env
.env.*
